<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <script th:src="@{/script.js}"></script>
    <title>Main Page</title>
</head>
<body>
<main class="container">
    <h1>Search Any country name to get that and their neighbour country Details </h1>
    <span class="sub-title">For example: nepal</span>
    <form>

        <div class="pseudo-search">
            <input type="text" class="countryField" placeholder="Search..." autofocus required>


            <button class="fa fa-search" type="submit" onclick="getCountryData()">Search</button>
        </div>

    </form>
    <div id="anil" class="countries">


    </div>
    <!-- <button class="btn-country">Where am I?</button> -->
    <div class="images"></div>
</main>
</body>
</html>